<!--ko if: dataSource().dataSet().length == 0 -->
<div data-bind="html: emptyTemplate"></div>
<!--/ko-->
<div class="panel  panel-default" data-bind="visible: dataSource().dataSet().length > 0 ">
    <table role="grid" class="table  table-hover table-bordered ko-grid_table" data-bind="if: dataSource().dataSet().length > 0">
        <thead class="ko-grid_thead">
            <tr class="ko-grid_head-row">
                <!--ko if: isMultiSelect-->
                <td class="col-sm-1 text-center ko-grid_th-check-all"><input type="checkbox" data-bind="checked: checkAll" /></td>
                <!--/ko-->
                <!--ko foreach: columns-->
                <th class="ko-grid_th" data-bind="text:title"></th>
                <!--/ko-->
            </tr>
        </thead>
        <tbody class="ko-grid_tbody" data-bind="foreach: dataSource().dataSet">
            <tr role="row" class="odd ko-grid_row" data-bind="doubleClick: $parent.rowDoubleClickAction.bind($parent)" title="De dois cliques na linha para editar item.">
                <!--ko if: $parent.isMultiSelect-->
                <td class="col-sm-1 text-center ko-grid_check-collumn"><input type="checkbox" data-bind="value:$data['id'] || $data['Id'] || $data[$parent.identityProp()], checked:$parent.selectedRows"
                    /></td>
                <!--/ko-->
                <!--ko foreach: $parent.columns-->
                <td class="ko-grid_collumn" data-bind="text: $parents[1]._getDataValue($parent,$data.prop), formatter: $data.format"></td>
                <!--/ko-->
            </tr>
        </tbody>
        <tfoot>
            <tr data-bind="if: hasAggregates" class="active ko-grid_row-footer_aggregate">
                <!--ko if: isMultiSelect-->
                <td class="col-sm-1 text-center"></td>
                <!--/ko-->
                <!--ko foreach: columns-->
                <td class="ko-grid_collumn" data-bind="text: $parent._getAggregate($data), formatter: $data.format"></td>
                <!--/ko-->
            </tr>
        </tfoot>
    </table>
    <div class="row ko-grid_row-footer" data-bind="if: dataSource().dataSet().length > 0" style="bottom: 0;position: relative;width: 100%;margin-top: 7px;margin-bottom: 5px;">
        <div class="col-md-7" style="border:none;position: relative;left: 0;">
            <page-control class="ko-grid_page-control" params="{totalPages: totalPages, currentPage: currentPage, onGoTo: goToPage.bind($data), onNext: next.bind($data), onPrev:prev.bind($data)}"></page-control>
        </div>
        <div class="col-md-5 text-right ko-grid_description" style="border:none;position: relative;right: 0; top:7px">
            <span data-bind="text: dataSourceDescription"></span>
        </div>
    </div>
</div>