<nav data-bind="visible: totalPages()>1">
    <ul class="pagination pagination-sm" style="margin:0;">
        <li data-bind="css:{'disabled':!prevPageEnable()}" style="cursor:pointer;">
            <a class="glyphicon glyphicon-step-backward ko-grid__pagination_first-icon" data-bind="click:first"></a>
        </li>
        <li data-bind="css:{'disabled':!prevPageEnable()}" style="cursor:pointer;">
            <a aria-label="Previous" class="glyphicon glyphicon-backward ko-grid__pagination_prev-icon" data-bind="click:prev"></a>
        </li>
        <!--<li data-bind="css:{'disabled':!prevPageEnable()},visible: ellipisisPrev"><span>...</span></li>-->
        <!--ko foreach: pages-->
        <li data-bind="css:{'active': $data.current}" style="cursor:pointer;">
            <a style="top:1px;" data-bind="text:$data.value, click: $parent.goTo.bind($parent,$data.value)"></a>
        </li>
        <!--/ko-->
        <li data-bind="css:{'disabled':!nextPageEnable()},visible: ellipisisNext"><span style="top:1px;">...</span></li>
        <li data-bind="css:{'disabled':!nextPageEnable()}" style="cursor:pointer;">
            <a class="glyphicon glyphicon-forward ko-grid__pagination_next-icon" data-bind="click:next"></a>
        </li>
        <li data-bind="css:{'disabled':!nextPageEnable()}" style="cursor:pointer;">
            <a class="glyphicon glyphicon-step-forward ko-grid__pagination_last-icon" data-bind="click:last"></a>
        </li>
    </ul>
</nav>